
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 425px;
  padding: 32px 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1152px;
  }
}